/* Header */
.team-heading {
    background-color: #7d57c2;
    color: white
}

/* Employee Cards */
.employee-card {
    width: 18rem;
    margin: 10px;
}

.manager-header {
    background-color: #cfbd67;
}

.engineer-header {
    background-color: #679dcf;
}

.intern-header {
    background-color: #67cf83;
}