/* Header */
.team-heading {
    background-color: #7d57c2;
    color: white
}

/* Employee Cards */
.employee-card {
    width: 18rem;
    margin: 10px;
      box-shadow: 5px 5px 8px #888888;
}

.manager-color {
    background-color: #cfbd67;
}

.engineer-color {
    background-color: #679dcf;
}

.intern-color {
    background-color: #67cf83;
}